/*
    ELEMENTS

    Stuff that has to do with elements.
*/

/*
    HEADER
*/

.title {
    padding: 0;
}

.title, 
.navigation-list {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.navigation-list {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding-left: 0;
    list-style-type: none;
}

.navigation-item {
    display: inline-block;
}

.title-link, 
.navigation-link {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    text-decoration-line: none;
    text-transform: uppercase;
}

.title-link, 
.navigation-link, 
.post-link {
    padding: 0.5rem;
    text-decoration: none;
    text-decoration-line: none;
    text-transform: uppercase;
}

/*
    MAIN
*/

.post-wrapper {
    margin: 1rem;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-image {
    max-width: 100%;
    object-fit: contain;
}

.post-heading {
    margin: 0.25rem;
    text-align: center;
}

.post-byline {
    margin-top: 0;
    text-align: center;
}

.post-paragraph {
    line-height: 1.5;
}

.post-heading, 
.post-byline {
    text-transform: uppercase;
}

/*
    FOOTER
*/


.footer-link {
    display: inline-block;
    padding-bottom: 1rem;
    text-decoration: none;

}